<hr>
<h3>Edit Goat Information</h3>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=goat.name id="name"}}
  </div>
  <div class="form-group">
    <label for="breed">Breed</label>
    {{input value=goat.breed id="breed"}}
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    {{input value=goat.price id="price" type="number"}}
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    {{input value=goat.image id="image"}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{input value=goat.description id="description"}}
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    {{#power-select
      selected=category
      options=categories
      onchange=(action (mut category))
      as |item|
    }}
    {{item}}
    {{/power-select}}
  </div>
  <button class="btn"{{action 'edit' goat}}>Update Goat</button>
</form>
<br>
<hr>
