<div class="individual-goat">
  {{#if inCart}}
    <div class="sold-out">
      <h3>Sold Out!</h3>
    </div>
  {{/if}}
  <img src= {{goat.image}} alt="picture of goat" />
  <h2>{{goat.name}}</h2>
  <h5>{{goat.breed}} | ${{goat.price}}</h5>
  <h5>Type: {{goat.category}}</h5>
  <p>{{goat.description}}</p>
  {{#if inCart}}
  <p>
    <button {{action 'removeFromCart' goat}} class="btn">Remove from Cart</button>
  </p>
  {{else}}
    <button {{action 'addToCart' goat}} class="btn">Add to Shopping Cart</button>
  {{/if}}
  <hr>
  {{#if goat.comments}}
  <h3>See what people are saying:</h3>
  <br>
  <ul>
    {{#each goat.comments as |comment|}}
      {{comment-tile comment=comment}}
    {{/each}}
  </ul>
  {{else}}
  <p>
    There are no comments on this goat yet. Add one below!
  </p>
  {{/if}}
  {{add-comment saveComment="saveComment" goat=goat}}
  <br>
</div>
