<div class="individual-goat">
  <img src= {{goat.image}} alt="picture of goat" />
  <h2>{{goat.name}}</h2>
  <h5>{{goat.breed}} | ${{goat.price}}</h5>
  <h5>Type: {{goat.category}}</h5>
  <p>{{goat.description}}</p>

  <button {{action 'addToCart' goat}} class="btn">Add to Shopping Cart</button>
</div>
