{{#if showNewForm}}
<hr>
<h3>Add a New Goat</h3>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="breed">Breed</label>
    {{input value=breed id="breed" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    {{input value=price id="price" type="number" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    {{input value=image id="image" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{input value=description id="description" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    {{#power-select
      selected=category
      options=categories
      onchange=(action (mut category))
      as |item|
    }}
    {{item}}
    {{/power-select}}
  </div>
  <button class="btn"{{action 'save'}}>Add Goat</button>
</form>
<br>
{{else}}
  <button class="btn" {{action 'showNewForm'}}>Add a New Goat</button>
{{/if}}
